html {
  box-sizing: border-box;
}

/* Custom Fonts using @font-face instead of GoogleFonts */

@font-face { 
  font-family: "AkidenzBold"; 
  src: url("fonts/Akzidenz-GroteskW1G-Bold.otf"); 
} 

@font-face { 
   font-family: "AkidenzRegular"; 
   src: url("fonts/Akzidenz-GroteskW1G-Regular.otf");
} 

@font-face { 
   font-family: "OptimaDisplayLight"; 
   src: url("fonts/OptimaDisplay-Light.otf");
} 

@font-face { 
   font-family: "OptimaDisplayBook"; 
   src: url("fonts/OptimaDisplay-Book.otf"); 
} 

@font-face { 
   font-family: "OptimaDisplayRoman"; 
   src: url("fonts/OptimaDisplay-Roman.otf"); 
} 

/* General Styling */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%
}

h1 {
  font-family: OptimaDisplayRoman;
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-family: OptimaDisplayBook;
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3 {
  font-family: OptimaDisplayBook
}

h4 {
  font-family: OptimaDisplayLight;
  font-size: 20px;
  color: #222;
}

h5 {
  font-family: OptimaDisplayLight;
}

h6 {
  font-family: OptimaDisplayLight;
  font-weight: 700;
  font-size: 12px;
}

p {
  font-family: AkidenzRegular;
   font-size: 16px;
  color: #001e57;
  margin: 15px, 0px, 20px, 0px;
}

.section-p1 {
  padding: 40px, 80px;
}

.section-m1 {
  margin: 40px, 0px;
}

body {
  width: 100%
}

/* Nav bar (Header) */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

.logo {
  max-height: 75px;
  padding: 20px;
}

.cart {
  max-width: 20px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li { 
  list-style:  none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  font-family: AkidenzRegular;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color:  #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
   color: #088178;
} 

#navbar li a.active::after,
#navbar li a:hover::after  {
  content: "";
  width: 30%;
  height: 2px; 
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px 
} 

/* Changes shopping cart */ 
.image-hover {
  padding-bottom: 10px;
  height: 25px;
  width: 25px; 
  background-image: url("/images/other/shopClear.png"); /* Initial background image */
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
}

.image-hover:hover {
  background-image: url("/images/other/shopClearTeal.png"); /* Change on hover */
}

/* Image Slider */
.container {
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  inset: 80px 200px 80px 80px;
  background: #ccc;
  border-radius: 20px;
}

.slider .slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  width: 240px;
  height: 320px;
  background: var(--img);
  background-size: cover;
  background-position:  center;
  transition: 0.5s; 
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.5);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0); 
  box-shadow: 0 25px 50px rgba(0,0,0,0,0);
  background-size: cover;
}

.slider .slides:nth-child(3) {
  left: calc(50% + 240px);
  background-size: cover;
}

.slider .slides:nth-child(4) {
  left: calc(50% + 500px);
  background-size: cover;
}

.slider .slides:nth-child(5) {
  left: calc(50% + 760px);
  background-size: cover;
}

.slider .slides:nth-child(6) {
  left: calc(50% + 1020px);
  background-size: cover;
  opacity: 0;
}

.buttons {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 20px;
}

.buttons span {
  position: relative;
  width: 50px; 
  height: 50px;
  background: #111;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.buttons span::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff; 
  transform: rotate(315deg) translate(2px, 2px);
}

.buttons span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px, 2px); 
} 

.buttons span:active {
  opacity: 0.5;
}

.content {
  position: relative;
  padding: 40px;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: 0s;
  transform: translateY(40px);
  z-index: 10000;
  opacity: 0;
}

.content h2 {
  font-size: 4em;
  color: #fff;
}

.content p  {
  color: #fff;
}

.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content {
  opacity: 1; 
  transform: translateY(0px);
  transition-delay: 0.5s;
}

/* Making the sliding photo banner mobile-responsive */
@media (max-width: 900px) {
   .slider {
     position: absolute;
     inset: 40px 40px 200px 40px;
   }
  .slider .slides {
    width: 100px;
    height: 100px;
    top: initial;
    bottom: -170px;
    box-shadow: 0 10px 20px rgba(0,0,0,0,0.25);
  }  
  .slider .slides:nth-child(1),
  .slider .slides:nth-child(2) {
    top: initial;
    bottom: 0px;
  }
  .slider .slides:nth-child(3) {
    left: 0;
  }
  .slider .slides:nth-child(4) {
    left: 120px;
  }
  .slider .slides:nth-child(5) {
    left: 240px;
  }
  .slider .slides:nth-child(6) {
    left: 360px;
  }
}